# PHP template (non-Node)

# Composer
composer.phar
/vendor/

# PHPUnit
phpunit.xml
phpunit.xml.dist

# PHPUnit cache / PHPUnit 8+ (default)
.phpunit.result.cache

# PHP-CS-Fixer
.php_cs.cache
.php-cs-fixer.cache

# PHPStan
phpstan.neon
phpstan.neon.dist
phpstan-baseline.neon

# PHPCS
phpcs.xml
phpcs.xml.dist

# Psalm
psalm.xml
psalm.xml.dist
psalm-baseline.xml

# IDEs and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example
